@import "../../lib/variables.scss";
@import "./send-group.scss";
@import "../../App.scss";

.chat {
  height: 100%;
  width: 100%;
  touch-action: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

.chat-room-name {
  @include theme(background, navbarTopGradient);
  height: 3em;
  width: 100%;
  text-align: center;
  box-shadow: 0 5px 8px #222;
  padding-top: 0.5em;
  margin-bottom: 0.6em;
}

.chat-room-name:hover .chat-room-list {
  display: block;
}


.chat-room-list {
  @include theme(background, navbarTopGradient);
  position: relative;
  display: none;
  min-width: 160px;
  max-width: 15em;
  left: 0;
  right: 0;
  margin: {
    left: auto;
    right: auto;
  };
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px 12px;
  z-index: 10;

  &:hover {
    display: block;
  }
}

.chat-room-list__item {
  position: relative;
  border-bottom: 1px solid #999;
  &:hover {
    display: block;
  }
}

//Room Messages
//----------------------------------------------------------------------------------

.chat-room {
  position: fixed;
  max-height: calc(100% - 2.6em);
  width: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 6em;
  }
}

.chat-room-history {
  @include theme(background, navbarTopGradient);
  position: relative;
  display: block;
  max-width: 20%;
  text-align: center;
  font-weight: bold;
  font-family: "minion";
  margin: {
    top: -0.6em;
    left: auto;
    right: auto;
  };
  padding: 0.2rem;
  border: 1px solid #222;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 3;

  &:active {
    background: linear-gradient(
      180deg,
      rgba(200, 200, 200, 1) 0%,
      rgba(230, 230, 230, 1) 100%
    );
  }
}

.chat-room__message {
  @include theme(background, message);
  position: relative;
  display: table;
  max-width: 90%;
  padding: 0.6em;
  border-radius: 0.9em;
  margin: {
    left: 2em;
    right: 2em;
    bottom: 0.3em;
  };

  &:after {
    position: absolute;
    @include theme(background, message);
    content: "";
    height: 1.2em;
    width: 1.2em;
    bottom: 0.7em;
    left: -1.2em;
    margin: {
      top: -5px;
      right: -5px;
    };
    border-radius: 50% 0 0 100% / 50% 0 0 100%;
    z-index: -1;
  }

  &:before {
    position: absolute;
    @include theme(background, bg);
    content: "";
    height: 2em;
    width: 2em;
    bottom: 1em;
    left: -2em;
    margin: {
      top: -5px;
      right: -5px;
    };
    border-radius: 50%;
    border-right: 0;
    z-index: 1;
  }
}

.chat-room__message.--self {
  @include theme(background, messageSelf);
  margin-left: auto;

  &:after {
    @include theme(background, messageSelf);
    border-radius: 0 0 100% 100% / 0 0 50% 50%;
    height: 1.2em;
    width: 1.2em;
    bottom: 0.5em;
    right: -1.2em;
    margin-top: -5px;
  }

  &:before {
    @include theme(background, bg);
    border-radius: 50%;
    border-right: 0;
    height: 2em;
    width: 2em;
    bottom: 0.8em;
    right: -2em;
    margin-top: -5px;
  }
}
