@import "../../lib/variables.scss";
@import "../../App.scss";

.bottom-group {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  bottom: 3em;
  right: 0;
  padding: 1em;
}

.bottom-group__input {
  @include theme(background-color, bg);
  width: 100%;
  font-size: 1rem;
  font-family: 'Minion';
  @include theme(border, textColor, 2px solid);
  border-radius: 0.5rem;
  @include theme(box-shadow, shadow, 2px 4px 8px 0px);
  padding: 0.5em;
  transition: background 0.3s ease-in 0s;

  &:focus {
    background-color: white;
    outline: none;
    border-color: royalblue;
    transition: background 0.3s ease-in 0s;
  }
}

.bottom-group__button {
  @include button-reset;
  position: absolute;
  font-size: 1.5em;
  @include theme(border-left, textColor, 2px solid);
  padding: 0 1em;
  margin-right: 2px;

  &:active {
    color: royalblue;
  }
}
