@import '../../../App.scss';

.progress-bar {
    position: relative;
    width: calc(100% - 1em);
    float: left;
    top: 0;
    left: 0;
    z-index: -2;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    padding: {
        left: 0.5em;
        right: 0.5em;
    };
}
.pb {
    position: relative;
    z-index: 0;
    width: 100%;
    padding: {
        right: 0.5em;
    };
}
.pbSpan {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    @include theme(background-color, pbBackground);
    border-radius: 0.7em;
}

.bar {
    position: absolute;
    z-index: -1;
    height: 100%;
    // width: 33%;
    left: 0;
    border-radius: 0.7em;
}

.bar.hp {
    background: linear-gradient(180deg, rgb(252, 126, 126) 0%, rgba(255,9,9,1) 50%, rgb(250, 94, 94) 100%);
}
.bar.en {
    background: linear-gradient(180deg, rgba(134,183,255,1) 0%, rgba(9,134,255,1) 50%, rgba(88,156,255,1) 100%);
}
.bar.xp {
    background: linear-gradient(180deg, rgba(255,255,134,1) 0%, rgba(241,255,9,1) 50%, rgba(245,255,82,1) 100%);;
}

.pbSpan {
    z-index: 3;
}

