@import "../../App.scss";


.menu {
  margin: 0;
}
ol,
ul.menu__list {
  list-style: none;
  display: table;
}
ul li.menu__item { display: table-cell; }

.menu__list {
  position: fixed;
  height: 2.6em;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-left: 0;
  z-index: 100;
}

.menu__item {
  @include theme(background, navbarBottomGradient);
  text-align: center;
  padding: 0.8em 0;
  margin : 0;
  border-right: 1px solid rgba(34, 60, 80, 0.2);
  box-shadow: 0px -9px 8px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;

  &:active {
    background-color: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(220, 220, 220, 1) 100%
    );
  }
}

.menu__item_state .--active span {
  color: rgb(0, 117, 207);
  transform: rotate(360deg);
  transition: transform 0.6s;
}
