@import "../../App.scss";
@import "../../lib/variables.scss";

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 10000;
  transform: translateX(-100vw);
  transition: background 0.5s ease 0s, transform 0.65s ease 0.15s;
}

.settings-title {
  font-size: 2rem;
}

.settings {
  position: relative;
  height: 100%;
  max-width: 25rem;
  color: #dddddd;
  @include theme(background-color, settingsBackground);
  @include theme(box-shadow, settingsBackground, 0px 4px 8px 0px);
  padding: 2em;

  input[type="color"] {
    margin-left: 0.2em;
    float: right;
  }
}

.backdrop.active {
  display: block;
  transform: translateX(0);
  background: rgba(100,100,100, 0.7);
  transition: background 1s ease 0s, transform 0.5s ease 0s;
}

.settings__theme-buttons {
  .light,.dark {
    display: inline-block;
    font-weight: bold;
    padding: 1em;
    margin-left: 1em;
    border-radius: 0.5em;
    border: none;
  }

  .light {
    background-color: #eeeeee;
    &.active {
      @include theme(outline, messageSelf, 2px solid);
    }
  }

  .dark {
    background-color: #333333;
    &.active {
      @include theme(outline, messageSelf, 2px solid);
    }
  }
}

.settings div:not(:first-child) {
  padding: 0.5em;
  margin-bottom: 0.2em;
}

.save-buttons {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: auto;

  .accept, .reset {
    @include button-reset();
    display: inline-block;
    padding: 0.5em;
    margin-left: 1em;
    border: 1px solid #eeeeee;
    border-radius: 0.3em;
  }

  .accept {
    background-color: rgb(58, 168, 54)
  }

  .reset {
    background-color: rgb(182, 59, 59);
  }
}
